.caveat {
	font-style: italic;
	color: #D4645C;
	margin-top: .75em;
}

#site-message {
	border-bottom: solid thin;
	position: fixed;
	top: 0;
	z-index: 3501;
	background: url(../images/stripes_bg.gif);
	background-color: #fff;
	font-family: monospace;
	width: 100%;
	padding: .75em;
	color: darkslategray;
	text-align:center;
	font-size:small;
}

#wof_name {
	font-weight: 700;
	color:#D4645C;
}

.wof-save-target {
	cursor: pointer;
}

.wof-thumb {
	display: inline-block;
	margin: 10px 10px 10px 0;
	width: calc(33% - 20px);
}

.wof-thumb:nth-child(3n) {
	margin-right: 0;
}

.wof-thumb img {
	width: 100%;
	height: auto;
	background: #ccc;
}

.wof-saved {
	outline: 5px solid #d4645c;
}

.set-primary {
	display: none;
}

.wof-thumb .set-primary {
	display: inline;
}
