.wof-save-target {
	cursor: pointer;
}

.wof-thumb {
	display: inline-block;
	margin: 10px 10px 10px 0;
	width: calc(33% - 20px);
	background: #ccc;
}

.wof-thumb:nth-child(3n) {
	margin-right: 0;
}

.wof-thumb img {
	width: 100%;
	height: auto;
}

.wof-saved {
	outline: 5px solid #d4645c;
}
